.body {
	padding: 0;
	margin: 0;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 100%;
}

.nav-list {
	width: 100%;
	padding: 0.7% 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	background-color: #4A4A4A;
	color: white;
}

.apple-logo {
	width: 1.2%;
}

.nav-list-li {
	display: inline;
	margin: 0 2%;
}

.nav-list-li:hover {
	opacity: 0.9;
}

.section-form {
    width: 500px;
    height: 350px;
    background-color: lightgray;
    margin-top: 5%;
    margin-left: 5%;
    padding-top: 2%;
    padding-left: 5%;
}

button {
    margin-top: 20px;
}

a {
    list-style-type: none;
	text-align: center;
	background-color: #4A4A4A;
    color: white;
}

a:link { 
 text-decoration:none; 
} 